<%- include ('../includ/head.ejs') -%>

    <link rel="stylesheet" href="/css/home.css">
    </head>

    <body>
        <%- include ('../includ/navbar.ejs') -%>

            <div class="col-md-12">
                <form action="#" method="post">
                    <div class="form-group ad-30" style="margin-top:8px;">
                        <div class="input-group search-style">
                            <input class="form-control new-search-bar" name="country" id="search"
                                placeholder="Enter Your Club Name" type="text">
                            <span class="input-group-btn">
                                <button class="btn input-btn" type="" id="search-form">Search</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-md-12">
                <div class="">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="filter-container">
                                        <div class="card">
                                            <form action="#" method="post">
                                                <div class="content">
                                                    <p class="filter">
                                                        FILTER
                                                    </p>
                                                    <hr />
                                                    <%if(data2){%>
                                                        <select class="form-control" name="country" id="country">
                                                            <option value="">Filter By Country</option>
                                                            <% _.forEach(data2 ,function(val){%>
                                                                <option value="<%= val._id%>">
                                                                    <%=val._id%>
                                                                </option>

                                                                <%})%>
                                                        </select>
                                                        <%}%>
                                                            <div class="clearfix"></div>
                                                            <button class="btn add-apply">Apply</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9">
                            <div>
                                <div class="category-list">
                                    <%if(data){%>
                                        <div class="row">
                                            <% _.forEach(data ,function(val){%>
                                                <form action="#" method="post" id="add-fav">
                                                    <div class="item col-md-4">
                                                        <a style="text-decoration: none;"
                                                            href="/group/<%=val.clubslug%>">


                                                            <div class="thumbnail">
                                                                <img src="/<%= val.image%>" alt="<%=val.club%>">
                                                                <div class="caption">
                                                                    <h4>
                                                                        <%= val.club%>
                                                                    </h4>

                                                                    <div class="row">
                                                                        <div class="col-xs-12 col-md-6">
                                                                            <p>
                                                                                <%= val.country%>
                                                                            </p>
                                                                        </div>

                                                                        <div class="col-xs-12 col-md-6">
                                                                            <button class="btn add-fav ">
                                                                                Add To Favorite
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </form>
                                                <%})%>
                                        </div>
                                        <%}%>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <%- include ('../includ/footer.ejs') -%>